/* Standards and resets */

html, body
{
  @include default-font-family($base-font-size);
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

body {
  color: $primary-text;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  color: $secondary-text;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  line-height: 1.5em;
}