.floor-map {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 50%;
  transition: all 500ms ease-in-out;

  @include bp("mobileonly") {
    padding-bottom: 250%;
  }

  #mensRoom {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    overflow: visible;
    top: 25%;

    transform-origin: top;
    transform: rotate(90deg);
    transition: all 500ms ease-in-out;

    .floor-color,
    .sink-counter,
    .cls-3, .cls-4
    {
      fill-rule: evenodd;
      stroke: #333;
      stroke-linejoin: round;
      stroke-width: 5px;
    }

    .floor-color {
      fill: #c5c8cf;
    }

    .sink-counter {
      fill: #323f61;
    }

    // Sink/urinal/toilet color
    .cls-3, .cls-4 {
      fill: #f3f3f4;
    }

    .stall {
      outline: 0 none;
      cursor: pointer;
      transform-origin: 50% 50%;
      transform: scale(1.0);
      transition: all 250ms ease-in-out;

      .hidden {
        display: none;
        &+ .toilet {
          transform-origin: center center;
          animation: animate-toilet 1s ease-in-out infinite alternate;
        }
      }

      .stall-open {
        fill: #03AD2B;
      }

      .stall-occupied {
        fill: #a90329;
      }

      .stall-occupied, .stall-open {
        stroke: #333;
        stroke-linejoin: round;
        stroke-width: 5px;
        fill-rule: evenodd;
      }
    }

    @include bp("mobileonly") {
      top: 0;
      transform: rotate(0deg);
    }
  }
}