.floor-container {
  margin-left: 5%;
}
.bathroom-container {
  min-width: 150;
  max-width: 50%;
  display: inline-block;
  margin-right: 5%;
  text-align: center;
  float: left;
}

.btn {
  margin-bottom: 5px;
}

.large-font {
  font-size: 27px;
}
