/*
  Master.scss - imports all of our sass partials and gets compliled into /css/master.css
*/
/* LAYOUT
================================== */
/* COLORS
================================== */
/* TYPE
================================== */
/* Row */
/* Column */
/* Breakpoint */
.floor-container {
  margin: 0 5%; }
  .floor-container h2 {
    float: left;
    margin-right: 10px; }
    .floor-container h2 .bathroom-name {
      font-size: 0.65em;
      font-weight: 400; }
    @media only screen and (max-width: 37.5em) {
      .floor-container h2 {
        font-size: 26px; } }
  .floor-container .notification-container {
    position: relative;
    z-index: 100; }
    .floor-container .notification-container .notification-icon {
      height: 32px;
      width: auto; }
    .floor-container .notification-container .notification-form-container {
      -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.5);
      position: absolute;
      transition: all 250ms ease-in-out;
      width: 100%; }

.bathroom-container {
  min-width: 150px;
  max-width: 50%;
  display: inline-block;
  margin-right: 5%;
  text-align: center; }

.btn {
  margin-bottom: 5px; }

.large-font {
  font-size: 27px; }

@keyframes animate-toilet {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(2);
    -webkit-transform: scale(1.15); } }
/* Standards and resets */
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0; }

body {
  color: #3d3d3d; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  color: #e1e1e1;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px; }

p {
  line-height: 1.5em; }

.container {
  width: 100%;
  max-width: 66rem;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: '';
    display: table; }
  .container:after {
    clear: both; }

.container-inner {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }
  .container-inner:before, .container-inner:after {
    content: '';
    display: table; }
  .container-inner:after {
    clear: both; }

.grid-cell {
  float: left;
  width: 100%;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  @media only screen and (max-width: 37.5em) {
    .grid-cell {
      float: left;
      width: 100%;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }
  @media only screen and (min-width: 50em) {
    .grid-cell {
      float: left;
      width: 50%;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }
  @media only screen and (min-width: 64em) {
    .grid-cell {
      float: left;
      width: 33.33333%;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }
  @media only screen and (min-width: 70em) {
    .grid-cell {
      float: left;
      width: 25%;
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }

.floor-map {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 50%;
  transition: all 500ms ease-in-out; }
  @media only screen and (max-width: 37.5em) {
    .floor-map {
      padding-bottom: 250%; } }
  .floor-map #mensRoom {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    overflow: visible;
    top: 25%;
    transform-origin: top;
    transform: rotate(90deg);
    transition: all 500ms ease-in-out; }
    .floor-map #mensRoom .floor-color,
    .floor-map #mensRoom .sink-counter,
    .floor-map #mensRoom .cls-3, .floor-map #mensRoom .cls-4 {
      fill-rule: evenodd;
      stroke: #333;
      stroke-linejoin: round;
      stroke-width: 5px; }
    .floor-map #mensRoom .floor-color {
      fill: #c5c8cf; }
    .floor-map #mensRoom .sink-counter {
      fill: #323f61; }
    .floor-map #mensRoom .cls-3, .floor-map #mensRoom .cls-4 {
      fill: #f3f3f4; }
    .floor-map #mensRoom .stall {
      outline: 0 none;
      cursor: pointer;
      transform-origin: 50% 50%;
      transform: scale(1);
      transition: all 250ms ease-in-out; }
      .floor-map #mensRoom .stall .hidden {
        display: none; }
        .floor-map #mensRoom .stall .hidden + .toilet {
          transform-origin: center center;
          animation: animate-toilet 1s ease-in-out infinite alternate; }
      .floor-map #mensRoom .stall .stall-open {
        fill: #03AD2B; }
      .floor-map #mensRoom .stall .stall-occupied {
        fill: #a90329; }
      .floor-map #mensRoom .stall .stall-occupied, .floor-map #mensRoom .stall .stall-open {
        stroke: #333;
        stroke-linejoin: round;
        stroke-width: 5px;
        fill-rule: evenodd; }
    @media only screen and (max-width: 37.5em) {
      .floor-map #mensRoom {
        top: 0;
        transform: rotate(0deg); } }

/*# sourceMappingURL=master.css.map */
